.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-headert {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App img{
  width: 90%;
}

.fixed-tophh {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

}
.containerheadern{
  width: 100%; 
  margin-right: auto; 
  margin-left: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{ 
  font-family: 'Oxanium', cursive; 
}

h1 {
  color: white;  
  font-family: helvetica, 'Oxanium', sans-serif;
  font-size: 1.3rem !important; 
  font-weight: bold !important; 
  vertical-align: middle;
  text-align: left;  
}

h2 {
  font-size: 1.6rem !important; 
  font-weight: bold !important;
  margin-bottom: 1rem !important;
  vertical-align: middle;

}

p {
  text-align: justify; 
}

ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.App {
  font-family: helvetica, 'Oxanium', sans-serif;
}

.header{
  background-color: black;
}

.fab{
  margin-left: 10px;
  color: white;
  
}

_footer {
  background-color: #000;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  color:#fff; 
}


footer {
  background-color: #000;
  color:rgb(172, 165, 165); 
  font-size: 0.9rem !important;
  padding-top: 20px;
  width: 100%;
}

.navbar-dark{
  background-color: #0B3D91 !important ; 
}